# Wallet Configuration
PRIVATE_KEY=
USER_WALLET_ADDRESS=

# RPC Endpoints (replace with your preferred providers (use sepolia for now))
ETHEREUM_RPC=
POLYGON_RPC=
ARBITRUM_RPC=
OPTIMISM_RPC=
BASE_RPC=
ETHEREUM_SEPOLIA_RPC=

# Testnet RPCs (for testing)
ETHEREUM_GOERLI_RPC=https://eth-goerli.g.alchemy.com/v2/your-alchemy-key
POLYGON_MUMBAI_RPC=https://polygon-mumbai.g.alchemy.com/v2/your-alchemy-key

# Environment
USE_TESTNET=true
